/out/
/filesForTargil0/
/.idea/
/filesForTargil0.asm
/VmToHackCompiler.iml
/src/Targil0/InputB.vm
/src/Targil0/InputA.vm
/src/Targil1/MemoryAccess/BasicTest/BasicTest.asm
/src/Targil1/MemoryAccess/BasicTest/BasicTest.cmp
/src/Targil1/MemoryAccess/BasicTest/BasicTest.tst
/src/Targil1/MemoryAccess/BasicTest/BasicTest.vm
/src/Targil1/MemoryAccess/BasicTest/BasicTestVME.tst
/src/Targil1/MemoryAccess/BasicTest/
/src/Targil1/MemoryAccess/PointerTest/
/src/Targil1/MemoryAccess/PointerTest/PointerTest.asm
/src/Targil1/MemoryAccess/PointerTest/PointerTest.cmp
/src/Targil1/MemoryAccess/PointerTest/PointerTest.tst
/src/Targil1/MemoryAccess/PointerTest/PointerTest.vm
/src/Targil1/MemoryAccess/PointerTest/PointerTestVME.tst
/src/Targil1/MemoryAccess/StaticTest/
/src/Targil1/MemoryAccess/StaticTest/StaticTest.asm
/src/Targil1/MemoryAccess/StaticTest/StaticTest.cmp
/src/Targil1/MemoryAccess/StaticTest/StaticTest.tst
/src/Targil1/MemoryAccess/StaticTest/StaticTest.vm
/src/Targil1/MemoryAccess/StaticTest/StaticTestVME.tst
/src/Targil1/StackArithmetic/
/src/Targil1/StackArithmetic/SimpleAdd/
/src/Targil1/StackArithmetic/SimpleAdd/SimpleAdd.asm
/src/Targil1/StackArithmetic/SimpleAdd/SimpleAdd.cmp
/src/Targil1/StackArithmetic/SimpleAdd/SimpleAdd.tst
/src/Targil1/StackArithmetic/SimpleAdd/SimpleAdd.vm
/src/Targil1/StackArithmetic/SimpleAdd/SimpleAddVME.tst
/src/Targil1/StackArithmetic/StackTest/
/src/Targil1/StackArithmetic/StackTest/StackTest.asm
/src/Targil1/StackArithmetic/StackTest/StackTest.cmp
/src/Targil1/StackArithmetic/StackTest/StackTest.tst
/src/Targil1/StackArithmetic/StackTest/StackTest.vm
/src/Targil1/StackArithmetic/StackTest/StackTestVME.tst
/src/Targil1/MemoryAccess/
